swiper-container::part(bullet) {
    width: 1rem;
    height: 1rem;
    margin: 0 .5rem;
    background-color: var(--bs-secondary);
    opacity: 0.8;
    border: 3px solid transparent;
}
swiper-container::part(bullet-active) {
    width: 1rem;
    height: 1rem;
    margin: 0 .5rem;
    background-color: var(--bs-success);
    font-size: 10em;
    border: 3px solid var(--bs-secondary);
}
swiper-container::part(button-prev),
swiper-container::part(button-next) {
    color: var(--bs-secondary);
}

.top {
    display: inline-block;
    padding: 1em;
    border-radius: 30% 30% 0 0;
    background-color: rgb(var(--bs-light-rgb));
    &:hover,
    &:active,
    &:focus {
        color: var(--bs-success);
        background-color: var(--bs-info);
    } 
}
